 /**
 * Mixin to load retina background images
 */

 @mixin at2x($file, $type) {
  background-image: image-url($file + '.' + $type);
 
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: image-url($file + '@2x.' + $type);
    }
  }
}

@mixin at2x-defined($file, $type, $width, $height) {
  @include at2x($file, $type);
  & {
     -webkit-background-size: $width $height;
  }
}