/* line 5, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
* Dimensions
*/
/**
* Grid
*/
/**
* Colors
*/
/**
* Mixin to define custom breakpoints
*/
/**
* Mixin to convert from px to rem 
* while maintaining lt IE8 compatibility
*/
/**
* Mixin to load retina background images
*/
/* -------- *
 * $GLOBALS *
 * -------- */
/**
 * Styles not specific to a certain element or area
 */
/* line 9, sass/partials/_globals.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, sass/partials/_globals.scss */
body, html {
  width: 100%;
}

/* line 1, sass/partials/_typography.scss */
html {
  font-size: 16;
  font-family: 'Avenir Next', 'Futura', 'Sans-Serif';
}

/* line 6, sass/partials/_typography.scss */
p {
  margin-bottom: 40px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 21px;
  line-height: 1.3125rem;
  color: #282828;
}

/* line 13, sass/partials/_typography.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
}

/* line 18, sass/partials/_typography.scss */
h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 40px;
  line-height: 2.5rem;
  font-weight: 700;
}

/* line 24, sass/partials/_typography.scss */
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.6875rem;
  font-weight: 700;
}

/* line 30, sass/partials/_typography.scss */
a {
  text-decoration: none;
}

/* ----------- *
 * $HEADER      *
 * ----------- */
/**
* Header
*/
/* -------- *
 * $CONTENT *
 * -------- */
/**
 * Main Content Area
 */
/* -------- *
 * $CONTENT *
 * -------- */
/**
 * Container for everything
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ghvm0b");
  src: url("../fonts/icomoon.eot?#iefixghvm0b") format("embedded-opentype"), url("../fonts/icomoon.woff?ghvm0b") format("woff"), url("../fonts/icomoon.ttf?ghvm0b") format("truetype"), url("../fonts/icomoon.svg?ghvm0b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, sass/vendor/_icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, sass/vendor/_icomoon.scss */
.icon-home:before {
  content: "\e600";
}

/* line 29, sass/vendor/_icomoon.scss */
.icon-home2:before {
  content: "\e601";
}

/* line 32, sass/vendor/_icomoon.scss */
.icon-home3:before {
  content: "\e602";
}

/* line 35, sass/vendor/_icomoon.scss */
.icon-office:before {
  content: "\e603";
}

/* line 38, sass/vendor/_icomoon.scss */
.icon-newspaper:before {
  content: "\e604";
}

/* line 41, sass/vendor/_icomoon.scss */
.icon-pencil:before {
  content: "\e605";
}

/* line 44, sass/vendor/_icomoon.scss */
.icon-pencil2:before {
  content: "\e606";
}
